body{
    margin: 0;
    background-color: rgba(245, 239, 234);
}
.logo_grand{
    width: 40%;
    border-radius: 20px;
}
h1{
    font-size: 50px;
    text-shadow: 4px 4px 4px gray;
}
.section1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section1_2{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 60px;
    padding-right: 60px;
    gap: 100px;
}
header{
    border-bottom: solid 2px darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}
header{
    display: flex;
justify-content: space-between;
text-shadow: 2px 2px 4px black;
font-size: 25px;
border-bottom: solid 2px darkgray;
align-items: center;
padding-right: 50px;
padding-left: 20px;
height: 150px;
}
button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
}
button:hover{
    transition-duration: 1s;
    background-color: lightgray;
}

h1, p, h2, h3, ul, li, button{
    font-family: "Roboto", sans-serif;
}

.olcards,
.olcards * {
  margin: 0;
  padding: 0;   
}
 
.olcards {
  display: flex;
  flex-direction: column;
  --cardsGap: 0px;
}
.olcards li {
  counter-increment: cardCount;
  display: flex;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
  margin-top: var(--labelOffset);
}
.olcards li .content {
  background-color: #e0d6cd;
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
        0 calc(100% + var(--cardsGap))
  );
  position: relative;
}
.title {
  font-size: 25px;
}
    .textbox{
        box-shadow: 4px 4px 4px gray;
        border-radius: 20px;
        padding-left: 10px;
        background-color: rgb(255, 247, 241);
    }
.grotitre{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
    border-radius: 60px;
    background-color: rgb(255, 247, 241);
}
.petititre{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(255, 247, 241);
}
.c{
    display: flex;
    flex-direction: column;
    gap : 40px;
    padding-right: 40px;
    padding-left: 40px;

}
h1, p, h2, h3, ul, li, button{
    font-family: "Roboto", sans-serif;
}
.p{
    border-radius: 20px ;
    background-color: red;
    padding: 20px;
}
.t{
    border-radius: 20px ;
    background-color: red;
    padding: 20px;
}
.o{
    border-radius: 20px;
    background-color: rgba(54, 174, 179);
    padding: 20px;
}
.s{
    border-radius: 20px;
    background-color: rgba(54, 174, 179);
    padding: 20px;
}  
.j{
    text-align: center;

}
.x{
    display: flex;
}

.textbox{
    box-shadow: 4px 4px 4px gray;
    border-radius: 20px;
    padding-left: 10px;
    background-color: rgb(255, 247, 241);
}
