.c{
    display: flex;
    flex-direction: column;
    gap : 40px;
    padding-right: 40px;
    padding-left: 40px;

}
.p{
    border-radius: 20px ;
    background-color: red;
    padding: 20px;
}
.t{
    border-radius: 20px ;
    background-color: red;
    padding: 20px;
}
.o{
    border-radius: 20px;
    background-color: rgba(54, 174, 179);
    padding: 20px;
}
.s{
    border-radius: 20px;
    background-color: rgba(54, 174, 179);
    padding: 20px;
}  
.j{
    text-align: center;

}
.x{
    display: flex;
}
.l{
    border-radius: 40px;
    padding: 20px;
}
.n{
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
}
.b{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}