body{
    margin: 0;
    background-color: rgba(10, 16, 21);
    background-size: 100%;
}
.logo_grand{
    width: 40%;
    height: 700px;
    border-radius: 20px;
}
h1{
    font-size: 50px;
    text-shadow: 4px 4px 4px gray;
}
.section1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section1_2{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 60px;
    padding-right: 60px;
    gap: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    text-shadow: 2px 2px 4px black;
    font-size: 25px;
    align-items: center;
    padding-right: 50px;
    padding-left: 20px;
    height: 150px;
}
button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    border: solid 1px rgba(51, 54, 59);
    border-radius: 20px;
    font-size: 20px;
}
button:hover{
    transition-duration: 1s;
    background-color: rgb(28, 28, 28);
}

h1, p, h2, h3, ul, li, button{
    font-family: "Roboto", sans-serif;
    color: white;
}
.title {
  font-size: 25px;
}
.textbox{
    border: solid 1px rgba(51, 54, 59);
    border-radius: 20px;
    padding-left: 10px;
    margin-bottom: 30px;
    padding-top: 5px;
    background-color: rgba(22, 26, 32);
}
.grotitre{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid rgba(51, 54, 59);
    border-radius: 60px;
    background-color: rgba(22, 26, 32);
}
.petititre{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border : solid 1px rgba(51, 54, 59);
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(22, 26, 32);
}
.c{
    display: flex;
    flex-direction: column;
    gap : 40px;
    padding-right: 40px;
    padding-left: 40px;

}
.j{
    text-align: center;
}
.x{
    display: flex;
}
.n{
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
}